<h2>Home: Game selector</h2>
<button (click)="logout()">Logout</button>
<div *ngIf="openGames; else noOpenGames">
  <p>Join a game</p>
  <ul>
    <li *ngFor="let game of openGames" class="game-item">
      <a [routerLink]="['/game', game.id]"><strong>{{ game.name }}</strong></a> | Number of Players: {{ game.participants.length }}
      <button (click)="joinGame(game.id)">Join this game</button>
    </li>
  </ul>
</div>
<ng-template #noOpenGames>
<div><p>No hay ninguna partida en marcha</p></div>
</ng-template>
<hr>
<p>Or create a new one</p>
<form>
  <label>name
    <input type="text" [(ngModel)]="gameName" name="gameName">
  </label>
  <button (click)="newGame(gameName)">New Game</button>
</form>
