<p>Question component</p>
<div *ngIf="question">
  <p>{{ question.category }}</p>
  <img *ngIf="question.questionIsImg" [src]="question.questionImg">
  <pre *ngIf="question.questionIsCode">
    <code [class]="question.category">
{{ question.questionCode }}
    </code>
  </pre>
  <p>{{ question.question }}</p>
  <hr>
  <div *ngFor="let answer of question.answers"
      (click)="setAnswer(answer)"
      [class.active]="getToggler(answer)"
      class="answer-wrapper">
    {{ answer }}
  </div>
</div>
