<p>Question component</p>
<pre> {{question | json}}</pre>
<div *ngIf="question">
  <p>{{ question.category }}
  <img *ngIf="question.questionIsImg" [src]="question.questionImg">
  <pre *ngIf="question.questionIsCode">
    <code [class]="question.category">
{{ question.questionCode }}
    </code>
  </pre>
  <p>{{ question.question }}</p>
  <div>
    <ul>
      <li *ngFor="let a of question.answers">
        {{ a }}
      </li>
    </ul>
  </div>
  <button (click)="submitAnswer(question.id, a)">Enviar</button>
</div>
