<div *ngIf="game">
  <h1>{{ game.name }}</h1>
  <p>ID: {{ game.id }} | Status: {{ game.status }}</p>
  <div *ngIf="game.creator !== auth.user.id">
    <p>{{ games.gameMessage }}</p>
  </div>
  <div *ngIf="game.creator == auth.user.id">
    <ul>
      <li *ngFor="let u of games.joinedUsers">{{ u }}</li>
    </ul>
  </div>
  <div *ngIf="game.creator == auth.user.id">
    <button (click)="startGame(game.id)">START THE GAME</button>
  </div>
  <div *ngIf="currentQuestion">
    <p>Ya hay pregunta</p>
    <app-question [Q]="currentQuestion"></app-question>
  </div>
</div>
