<div *ngIf="gameService.game">
  <header>
    <h1>{{ gameService.game.name }}</h1>
    <!-- <p><small>GAME NAME: {{ gameService.game.name }}<br>USER ID: {{ auth.user.id }}<br>GAME ID: {{ gameService.game.id }}<br>Status: {{ gameService.game.status }}</small></p>
    <span *ngIf="gameService.showRanking">Debería salir el ranking ya</span> -->
    <!-- <ul>
      <li>serviceStatus {{ gameService.serviceStatus }}</li>
      <li>gameInPlay {{ gameService.gameInPlay }}</li>
      <li>gameFinished {{ gameService.gameFinished }}</li>
      <li>gameMessage {{ gameService.gameMessage }}</li>
      <li>correctAnswers {{ gameService.correctAnswers | json }}</li>
      <li>score {{ gameService.score }}</li>
      <li>answers{{ gameService.answers }}</li>
      <li>questionTime {{ gameService.questionTime }}</li>
      <li>currentQuestionIndex {{ gameService.currentQuestionIndex }}</li>
      <li>currentQuestion {{ gameService.currentQuestion }}</li>
    </ul> -->
  </header>
  <section class="messages" *ngIf="gameService.serviceStatus == 'open'">
    <div *ngIf="gameService.game.creator !== auth.user.id">
      <p>{{ gameService.gameMessage }}</p>
    </div>
    <div>
      <ul>
        <li *ngFor="let user of gameService.joinedUsers">
          El usuario {{ user.username }} se ha unido al juego
        </li>
      </ul>
    </div>
    <div *ngIf="gameService.game.creator == auth.user.id">
      <button (click)="startGame()" [disabled]="gameService.gameInPlay">START THE GAME</button>
      <!-- <button (click)="finishGame()">FINISH THE GAME</button> -->
    </div>
  </section>

  <div *ngIf="gameService.currentQuestion">
    <game-questions [question]="gameService.currentQuestion"></game-questions>
  </div>

  <game-results *ngIf="gameService.showResults"></game-results>


</div>
