

// Variables
$white: #FFF;
$text-color: #052F41;
$general-bg: #DBE1E3;
$HTML-color: #FF5503;
$CSS-color: #DB007C;
$JS-color: #290224;
$BACKEND-color: #00A2B3;
$CONCEPTS-color: #00D64E;
$SOCIAL-color: #FFB803;
$ironhack-color: #32C3FF;
